@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body {
    background: url(../imagens/linkedin-sales-solutions-QgYvORVDdd8-unsplash.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: black;
    padding: 10px;
    margin: 10px;
}

#title {
    font-size: 2em;
    text-shadow: 3px 5px 4px rgba(36, 35, 35, 0.384);
}

nav a {
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
    text-shadow: 3px 5px 4px rgba(36, 35, 35, 0.384);
    color: black;
}

nav a:hover {
    color: rgb(63, 63, 63);
    background-color: rgba(255, 255, 255, 0.568);
}

main {
    height: 50vh;
    width: 50vw;
    padding: 90px;
}

main > h1 {
    padding: 60px;
    font-size: 3em;
    text-shadow: 3px 5px 4px rgba(36, 35, 35, 0.384);
}

main > a {
    color: rgb(32, 32, 32);
    text-decoration: none;
    padding: 90px;
    font-size: 3em;
    text-shadow: 3px 5px 4px rgba(36, 35, 35, 0.384);
}

main > a:hover {
    color: rgb(13, 61, 129);
    text-shadow: 3px 5px 4px rgba(36, 35, 35, 0.384);
}

div {
    padding: 3px;
    width: 319px;
    border-radius: 2px;
    margin-left: 850px;
    background-color: rgba(0, 0, 0, 0.445);
}

div > p {
    font-size: 18px;
    text-align: justify;
    color: rgb(240, 236, 236);
}